@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .min-h-screen-custom {
    min-height: calc(100vh - 105px); /* Oduzimamo visinu navigacije */
  }

  .max-h-screen-custom {
    min-height: calc(100vh - 105px); /* Oduzimamo visinu navigacije */
  }
}
